LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_SIP_TRUNK_ID=
AGENT_NAME=Jamie-cbf

CREWAI_BASE_URL=
CREWAI_API_TOKEN=
CREWAI_HUMAN_INPUT_WEBHOOK_URL=
CREWAI_HUMAN_INPUT_WEBHOOK_TOKEN=

DATABASE_URL=
